main.exe
.vs/slnx.sqlite
.vs/ComPro/v16/.suo
.vs/ComPro/v16/Browse.VC.db
MathLib/Debug/
MathLib/MathLib/Debug/
MathLibApp/Debug/
MathLibApp/MathLibApp/Debug/
Vector/CMakeFiles
Vector/Vector.exe
Vector/Makefile
Vector/out/build/x64-Debug/VSInheritEnvironments.txt
Vector/CMakeCache.txt
Vector/cmake_install.cmake
Vector/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
MathLib/.vs/MathLib/
MathLibApp/.vs/MathLibApp/
